# Rust derleme dosyaları
/target/

# C++ / CMake derleme dosyaları
/build/
/.cache/
/CMakeSettings.json
/CMakeFiles/

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db

# IDE ayarları (isteğe bağlı ama önerilir)
.vscode/
.idea/